.receivedMessageBox {
    background-color: rgb(121, 238, 150);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
    box-shadow: 4px 5px 5px rgb(170, 170, 170);
    padding: 10px;
    width: 45%;
    float: left;
    clear: both;
    margin-bottom: 15px;
}

.sentMessageBox {
    background-color: rgb(137, 212, 255);
    border: 1px solid rgb(175, 175, 175);
    box-shadow: 4px 5px 5px rgb(170, 170, 170);
    border-radius: 10px;
    padding: 10px;
    width: 45%;
    float: right;
    clear: both;
    margin-bottom: 15px;
}

.messageDateText {
    font-size: 0.8rem;
    color: rgb(75, 75, 75);
}

.newMessageIndicator {
    float: right;
    padding: 0px 14px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(141, 141, 141);
    border-radius: 20px;
    color: red;
    font-size: 18pt;
}
