.profileBase {
    background-color: #e7f1ff;
}

.profileTitle {
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(71, 71, 71);
}

.changePasswordButton {
    float: right;
    margin-top: 3px;
    margin-right: 10px;
    color: rgb(247, 247, 247);
    background-color: rgb(238, 0, 0);
}

.changePasswordButton:hover {
    background-color: rgb(255, 21, 21);
    color: rgb(255, 255, 255);
}

.sendMessageButton {
    margin-top: 3px;
    margin-right: 10px;
    float: right;
}

.profileRow {
    margin-top: 5px;
    margin-bottom: 5px;
}
