.profileBase {
    background-color: #e7f1ff;
}

.profileTitle {
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(71, 71, 71);
}

.dropdownBase {
    float: right;
    margin-top: 3px;
    margin-right: 10px;
}

.sendMessageButton {
    margin-top: 3px;
    margin-right: 10px;
    float: right;
}

.profileRow {
    margin-top: 5px;
    margin-bottom: 5px;
}
