.tradeHistoryTitle {
    margin-bottom: 10px;
}

.userLink {
    text-decoration: none;
    color: #0d6efe;
}

.userLink:hover {
    color: deepskyblue;
    text-decoration: underline;
}

.entryBaseSmall {
    margin-top: 15px;
    margin-bottom: 15px;
}

.entryHeaderSmall {
    width: 32%;
}
