.headerBase {
    background-color: #e7f1ff;
}

.headerRow {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.headerTitle {
    margin-top: 12px;
    margin-bottom: 10px;
    color: rgb(71, 71, 71);
}

.headerSubtitle {
    color: rgb(71, 71, 71);
    font-size: 12.5pt;
}

.userLink {
    color: #0d6efe;
    text-decoration: none;
    font-size: 13pt;
}

.userLink:hover {
    color: deepskyblue;
    text-decoration: underline;
}
