.buttonCol {
    display: flex;
    justify-content: center;
    align-content: center;
}

.manageButton {
    margin-top: 15px;
    margin-bottom: 15px;
}

.messageButton {
    margin-top: 15px;
    margin-bottom: 15px;
}

.viewItemDropdownOpened {
    padding-bottom: 100px;
}

.viewItemDropdownClosed {
    padding-bottom: 20px;
}
